h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}



p{
    font-size: 25px;
}
div{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.head{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width : 50%;
}
#top{display : flex;
    flex-direction: column-reverse;
    justify-content: center;
    }
img{
    width : 50%;
    height: auto;
    margin:200px;
}
