body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}
button{
    border-radius: 16%;
}
#keys{
    display:grid;
    grid-template-columns: repeat(4 ,1fr);
    
}
.tap{
    height:100px;
    width:100px;
    border-radius: 2px;
}
#display{
    padding:2px;
    margin:2px;
    border:1px solid black;
    height:100px;
    width:390px;
    background-color: white;
}